.navbar {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.navbar .leftSide {
    flex: 50%;
    display: flex;
}

.navbar .leftSide img {
  float: left;
}

.navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
}

.navbar a {
    color:rgb(246, 177, 188);
    text-decoration: none;
    margin: 40px;
    cursor: pointer;
}

.navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .navbar .rightSide button {
        display: none;
  }
  .hiddenLinks {
    display: none;
  }
}